<%= simple_form_for [@user, @list] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo, required: true, autofocus: true %>
    <%= f.input :descricao, required: true %>
    <%= f.input :publico %>
  </div>

  <% @list.items.each do |item| %>
    <p><%= item.descricao %></p>
  <% end %>

  <div>
    <%= f.fields_for :items, Item.new do |ff| %>
      <%= ff.input :descricao %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>
