<% @lists.each do |list| %>
  <div class="row">
    <div class="col-md-8">
      <p>
        <%= list.title %>
      </p>
      <p>
        <%= list.description %>
      </p>
    </div>
    <div class="col-md-2">
      <% f = Favorito.where(list_id: list, user_id: @user).first %>
      <% if f %>
        <%= link_to "Remover", user_list_favorito_delete_path(@user, list, f.id), method: :delete, class: "btn btn-sm btn-default form-control" %>
      <% else %>
        <%= link_to "Favorito", user_list_favorito_path(@user, list), method: :post, class: "btn btn-sm btn-default form-control" %>
      <% end %>
      <%= link_to "Ver Lista", user_list_path(@user, list), class: "btn btn-sm btn-default form-control" %>
    </div>
  </div>
<% end %>
